#syllabus-hole-page-contanier{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, 
    rgba(249, 247, 247, 0.347), rgba(240, 237, 237, 0.582)), url('../media/litul_image/syllabus\ page.jpg');;
    /* position: relative;

     */
     background-position:center;
     background-size: cover;
     background-repeat: no-repeat;
     background-position:fixed;
}

#syllabus-hole-page-contanier #syllabus-filter-selection{
    height:70%;
    width: 30%;
    background-color: antiquewhite;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 3px;
    margin: auto;
    position:relative;
    appearance: none;
}

#syllabus-hole-page-contanier  #syllabus-filter-selection  .syllabus_dropdown{

    


    

}
